.row{
          padding-left: 0px;
          padding-right: 0px;
          margin-left: : 0px;
          margin-right: 0px;
        }
.img-circle{
          padding: 0px;
          margin: 0px;
        } 
.container1{
                padding-right: 50px;
                padding-left: 50px;
                padding-top: 0x;
                padding-bottom: 0px;
                color: #500000;
                
    } 
.container3{
                padding-right: 50px;
                padding-left: 100px;
                padding-top: 0x;
                padding-bottom: 0px;
                color: #500000;
                
    } 
#imagedropshadow2 {
                      padding: 0px;
                      border: solid 1px  ;
                      box-shadow: 1px 1px 5px black;
                      }
#imagedropshadow1 {
                      padding: 0px;
                      border-bottom: solid 1px black;
                      box-shadow: 1px 1px 5px black;
                      }
#clt{
        bottom: 0;
        position: absolute;
        margin-bottom: 10px;
    }

li.ex3:hover, li.ex3:active {background: #4eb1b3;} 
    }
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 52px;
  height: 52px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  bottom: 0;
  margin-left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
